@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
  text-size-adjust: none;
}
body {
  font-family: "Noto Sans KR", "TTWanjudaedunsancheB", "sans-serif";
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.68px;
  word-break: keep-all;
  color: #000;
  font-weight: normal;
  padding-top: 100px;
  /* overflow-x: hidden; */
  min-width: 320px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  position: relative;
}
button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
/* 사이드 버튼 */
.side-btn {
  width: 50px;
  height: 150px;
  z-index: 9999;
  position: fixed;
  display: block;
  bottom: 2%;
  right: 10px;
}
.event-btn {
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  right: 100px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.side-up {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
}
.side-down {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
/* 상단 */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.header .container {
  max-width: 1600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  position: relative;
  top: -10px;
  width: 80%;
}
.nav {
  height: 100%;
  width: 80%; 
  max-width: 900px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-family: "SBAggroB";
}
.nav ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.nav ul > li > a {
  font-weight: 600;
  color: #000000;
  font-size: 2em;
  transition: color 0.2s;
}
.nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  display: block;
  width: 100%;
  height: 6px;
  background-color: #519735;
  opacity: 0;
  transition: all 0.2s;
  border-radius: 3px;
}
.nav ul li:hover::after {
  opacity: 1;
}
.nav ul > li:hover {
  cursor: pointer;
}
.nav ul > li:hover > a {
  color: #519735;
}
/* 상단 부분 반응형 */
@media all and (max-width: 1024px) {
  .header .logo img {
    position: relative;
    width: 70%;
    top: -5px;
    left: 20px;
  }
  .nav ul li a {
    position: relative;
    font-size: 1.7em;
    top: 2px;
  }
  .nav ul li::after {
    bottom: -20px;
  }
}
@media all and (max-width: 768px) {
  .header .logo img {
    position: relative;
    width: 80%;
    top: -8px;
  }
  .nav ul {
    gap: 0 30px;
  }
  .nav ul li a {
    font-size: 1.3em;
  }
  
}
/* 푸터 */
.footer {
  width: 100%;
  background-color: #2a2a2a;
  padding: 20px 0;
}
.footer .container {
  height: 100%;
  line-height: 30px;
  font-size: 15px;
  color: #fff;
}
@media all and (max-width:1024px){
  .footer .container p{
    font-size: 14px;
    text-align: center;
  }
}
@media all and (max-width:768px){
  .footer .container p{
    font-size: 13px;
  }
}
.sub-banner {
  height: 500px;
  background: url("../images/sub_page_1_img/main.png") no-repeat center / cover;
  position: relative;
}
.sub-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
}
.sub-banner .container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  z-index: 1;
  color: #fff;
}
.sub-banner .container p {
  position: relative;
  width: 100%;
  font-size: 28px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.sub-banner .container h2 {
  width: 100%;
  display: block;
  font-size: 48px;
  font-weight: 500;
}

.sub-banner .container p::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 5px;
  background-color: #519735;
  top: 43px;
  left: 0;
  transition: width 0.5s;
  border-radius: 3px;
}
.sub-banner .container.loaded .sub1-p::before {
  width: 195px;
}
.sub-banner .container.loaded .sub3-p::before {
  width: 210px;
}




@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sub-banner .container p{
    font-size: 25px;
  }
  .sub-banner .container h2{
    font-size: 40px;
  }
}

@media all and (max-width: 767px){
  .sub-banner .container p{
    font-size: 23px;
  }
  .sub-banner .container h2{
    font-size: 35px;
  }
}

