/* 버튼 */
.button {
  width: 100%;
  height: 150px;
  /* background-color: #519735; */
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 65px;
  padding-bottom: 65px;
  border-bottom: 2px solid #b0b0b0;
}
#box {
  display: block;
  position: relative;
  /* width: 100px; */
  /* height: 100px; */
  /* border-radius: 50%; */
  /* background-color: #5d5d5d; */
}
#box:hover img {
  width: 110px;
  height: 110px;
  transition: all 0.3s;
}
#box img {
  width: 100px;
  height: 100px;
  transform: translate(12px, 10px);
}
#box > p {
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

/* 베스트 상품 */
.best {
  margin: 100px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.best_name {
  position: relative;
  display: block;
  margin-top: 50px;
  color: #519735;
  font-size: 48px;
  font-weight: bold;
  /* font-family: "Pretendard-Regular"; */
  font-family: "SBAggroB";
  padding-left: 20px;
}
.best-left {
  position: relative;
  width: 49%;
  display: flex;
  /* background-color: #f1f1f1; */
  box-shadow: 0 1px 10px 0px #d7d7d7;
}

.best1 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}
.best2 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}
.best3 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}

.best1 img {
  width: 100%;
}

.best1 span {
  position: absolute;
  top: -5px;
  left: -5px;
}
.best2 span {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100px;
}
.best3 span {
  position: absolute;
  z-index: 9999999999 !important;
  top: -3px;
  left: -3px;
  width: 100px;
}

.best-txt {
  display: block;
}

.left-txt {
  margin-top: 23px;
  margin-left: 10px;
}
.right-txt {
  margin-top: 10px;
  margin-left: 23px;
}

.best-txt h6 {
  display: block;
  font-family: "Pretendard-Regular";
  font-weight: bold;
  color: #111;
  font-size: 29px;
}
.best-h6 {
  display: block;
  font-family: "Pretendard-Regular";
  font-weight: bold;
  color: #111;
  font-size: 28px;
}

.txt-line1 {
  border-top: 1px solid #999;
  /* width: 275px; */
  width: 41%;
  margin: 5px;
  margin-left: -10px;
}
.txt-line2 {
  border-top: 1px solid #999;
  /* width: 275px; */
  width: 120%;
  margin: 5px;
  margin-left: -10px;
}

.best-en {
  display: block;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 18px;
  color: #8d8d8d;
  margin-top: 12px;
}

.best-price {
  display: block;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 25px;
  color: #333;
}

.best-en2 {
  display: block;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 16px;
  color: #8d8d8d;
  margin-top: 12px;
}

.best-price2 {
  display: block;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 23px;
  color: #333;
}

/* =========== */

.best-right {
  width: 49%;
  /* height: 800px; */
  position: relative;
  flex-direction: column;
}

.best2 {
  height: 48.5%;
  /* background-color: rgb(248, 248, 248); */
  /* border: 1px solid #999; */
  box-shadow: 0 1px 10px 0px #b0b0b0;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
}
.best3 {
  height: 48.5%;
  /* background-color: #f1f1f1; */
  box-shadow: 0 1px 10px 0px #d7d7d7;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
}
.best2 img {
  width: 47.8%;
}
.best3 img {
  width: 47.8%;
}
/* section best 반응형 */
@media screen and (min-width: 831px) and (max-width: 1024px) {
  .best-txt h6 {
    font-size: 29px;
  }
  .best-h6 {
    font-size: 25px;
  }
  .best-en {
    font-size: 16px;
  }

  .best-price {
    font-size: 23px;
  }

  .best-en2 {
    font-size: 14px;
  }

  .best-price2 {
    font-size: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 830px) {
  .txt-line1 {
    width: 50%;
  }
  .best-txt h6 {
    font-size: 27px;
  }
  .best-h6 {
    font-size: 23px;
  }
  .best-en {
    font-size: 14px;
  }

  .best-price {
    font-size: 21px;
  }

  .best-en2 {
    font-size: 12px;
  }

  .best-price2 {
    font-size: 19px;
  }
}

@media all and (max-width: 767px) {
  .best-right {
    display: none;
  }

  .best-left {
    width: 100%;
  }
  .best-txt h6 {
    font-size: 25px;
  }

  .txt-line1 {
    width: 200px;
  }
  .best-en {
    font-size: 14px;
  }

  .best-price {
    font-size: 18px;
  }
}

/* 판매 부분 */
.all_sale {
  position: relative;

  border-top: 2px solid #b0b0b0;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;

  margin-bottom: 100px;
  gap: 50px 0;
}

.product {
  display: block;
  position: relative;
  box-shadow: 0 1px 10px 0px #d7d7d7;
  /* border: 2px solid #b0b0b0; */
  padding: 20px;
  width: calc(96% / 3);
  border-radius: 3px;
}
.product img {
  width: 100%;
}
.product_text {
  display: block;
  position: relative;
  margin-top: 25px;
}

.product_text h6 {
  display: block;
  font-family: "Pretendard-Regular";
  font-weight: bold;
  color: #111;
  font-size: 25px;
}

.product-explain {
  display: block;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 18px;
  color: #8d8d8d;
  margin-top: 5px;
}

.product-price {
  display: block;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 23px;
  color: #333;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product_text h6 {
    font-size: 19px;
  }
}

.product-explain {
  font-size: 15px;
  padding: 5px;
  font-family: "Pretendard-Regular";
}
.sale_text_mid {
  display: block;
  position: relative;
  color: #b0b0b0;
}
.sale_text_mid::after {
  content: "";
  position: absolute;
  background-color: #b0b0b0;
  width: 100%;
  height: 2px;
  left: 0px;
  top: -3px;
  border-radius: 3px;
}
.sale_mid_line {
  margin-top: 10px;
}
.product_text h1 {
  font-size: 18px;
  font-weight: 700;
}
/* 다음 페이지 버튼 */
.next_button {
  position: relative;
  display: block;
  width: 100%;
  border-top: 2px solid #b0b0b0;
}
.next_number {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}
.next_number li {
  font-size: 14px;
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
}
.next_number li:first-child {
  display: block;
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #b0b0b0;
  color: aliceblue;
}
.next_number li:hover {
  display: block;
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #b0b0b0;
  color: aliceblue;
}

/* 반응형 타블렛*/
@media all and (max-width: 1024px) {
  .product {
    width: calc(95% / 2);
  }
  .product_text {
    font-size: 15px;
  }
}

/* 반응형 모바일*/
@media all and (max-width: 767px) {
  .product {
    width: calc(95% / 1);
  }
  .product_text {
    font-size: 30px;
  }
}
